<%= form_with(model: tweet, class: "mb-4") do |form| %>
  <% if tweet.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nom d'utilisateur :" %>
    <%= form.text_field :username, class: "new-tweet" %>
  </div>

  <div class="form-group">
    <%= form.label "Tweet" %>
    <%= form.text_area :body, class: "new-tweet", placeholder: "Quoi de neuf ?" %>
  </div>

  <div class="form-group">
    <%= form.submit "ok", class: "btn btn-primary rounded-pill" %>
  </div>
<% end %>
