<div class="timeline" id="<%= dom_id tweet %>">
  <div class="disposition">
    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="profile picture" class="profile-pic">
    <div class="tweet-body">
      <div class="username-flex">
        <p class="fw-bold tweet-name"><%= tweet.name %></p>
        <p class="tweet-username">@<%= tweet.username %></p>
      </div>
        <p class="tweet-body">
        <%= tweet.body %>
        <br>
        <% if tweet.image.present? %>
        <%= image_tag tweet.image, alt: 'Mon image', class: "image-tweet" %>
        <% end %>
        </p>
    </div>
  </div>
</div>
