<style>
.tweet-body {
  font-size: 17px;
}

.image-tweet {
  height: inherit;
}

.username-flex {
  flex-direction: column;
}

.tweet-username {
  margin-left: 0;
  margin-bottom: 1rem;
}

.tweet-name {
 margin-bottom: 0rem;
}



</style>
<div style="margin-top: 4rem;">
  <div class="cross">
    <%# <%= link_to "Revenir à la timeline", tweets_path %>
    <a href="/"><svg fill="#F6F9F9" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-z80fyv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03" style="color: rgb(239, 243, 244);"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg></a>
  </div>
  <p style="color: green"><%= notice %></p>

  <%= render @tweet, class: "show-tweet" %>

  <div class="mt-4">
    <%= link_to "Modifier ce tweet", edit_tweet_path(@tweet) %>
    <%= form_tag tweet_path(@tweet), method: :delete do %>
      <%= password_field_tag :password, '', placeholder: "Mot de passe", class: "delete-pass delete-button" %>
      <%= submit_tag "Supprimer ce tweet", class: "text-danger delete-button", data: { confirm: "Supprimer le tweet ?" } %>
    <% end %>
  </div>
